legacy-peer-deps=true
always-auth=true
# @storybook:registry=https://registry.npmjs.org/
# @types:registry=https://registry.npmjs.org/
# @kadira:registry=https://registry.npmjs.org
# # https://registry.npmjs.org/@app/pkg-components