.searchIcon {
  margin-left: 8px;
  fill: #555;
}

.formContainerOrders {
  display: flex;
}

.quickFilters {
  align-items: center;
  display: flex;
  height: 110px;
  margin-bottom: 20px;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 0 20px 34px;
  width: 100%;
}

.searchContainer {
  align-items: center;
  background-color: var(--color-base-white);
  border-radius: 8px;
  border: 1px solid var(--color-neutral-gray);
  display: flex;
  height: 50px;
  margin-top: 15px;
  padding-right: 8px;
  padding: 3px;
  width: min-content;
}

.searchInput {
  border: none;
  flex: 1;
  font-size: 16px;
  height: 40px;
  outline: 0;
  padding: 8px 12px;
}
