.container {
  width: 100%;
  font-family: 'PFont-Regular', 'Courier New', monospace;
  font-size: 11px;
  background-color: #ffffff;
  padding: 10em 0;
}

.title {
  text-align: center;
  font-family: 'PFont-Bold';
  margin-bottom: 1em;
}

.separator {
  border-bottom: 1px dashed black;
  margin: 4px 0;
  margin-bottom: 1em;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.message {
  font-family: 'PFont-Light';
  text-align: center;
}

.columnSeparator {
  margin-left: 4px;
  padding-left: 4px;
  margin-bottom: 1em;
}

.columnItem {
  display: inline-block;
  text-align: center;
  width: calc(100% / 3);
  word-wrap: break-word;
  margin-bottom: 1em;
}

.columnHeader {
  align-items: center;
  display: flex;
  display: inline-block;
  justify-content: center;
  margin-left: 4px;
  padding-left: 4px;
  text-align: center;
  width: calc(100% / 3);
  word-wrap: break-word;
  margin-bottom: 1em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.subColumns {
  display: flex;
  flex-direction: column;
  margin-left: .1em;
  margin-bottom: 1em;
}

.subColumnItem {
  font-style: italic;
}

.label {
  margin: 5px 0;
}