.card {
    border: .5px solid var(--color-neutral-gray);
    box-shadow: var(--box-shadow-xs);
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.card_header {
    background-color: var(--color-neutral-gray);
    border-bottom: 1px solid var(--color-icons-gray-light);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.card_header_content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.card_header_title {
    font-family: PFont-Light;
    font-size: .9em;
    color: var(--color-text-gray-light);
}

.card_content {
    padding: 10px;
}

.card_text_content {
        margin: 10px;
    color: var(--color-text-gray-light);
    font-family: PFont-Light;


}

.card_text_code {
    color: var(--color-icons-gray-light);
    font-family: PFont-Light;
    font-size: .9em;
}

.card_content_action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.content__delivery_time {
    border-top: 1px solid var(--color-icons-gray-light);
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    
}